.env
.cursorrules
__pycache__/
*.pyc
api/logs/
api/venv/
venv/
.venv/
logs/
# Ignore entire tmp/ directory
tmp/
# Ignore Dash source data files
dash_hsir_source/

*.json
!scripts/schema.json
ecosustem.config.js
